@import '../../cep.scss';

/**
 * Unit mobile-750
 * if the width of the design is 750px * 
 * but most of mobile phones do not support * 
 * we should set $cep-unit-multiple as 0.5 * 
 * and set root $root-font-size as 375 (half of 750) * 
 * so that all of input value will be cut off half for output * 
 */

$cep-unit-multiple: 0.5;
$root-font-size: 750 * $cep-unit-multiple;
:root {
  font-size: 100vw;
}

.foo {
  /* this should be `1rem` */
  width: rem(750);
}

.bar {
  /* this should be `0.5rem` */
  width: rem(375);
}

.foobar {
  /* this should be `0.05rem` */
  width: rem(37.5);
}
